<div class="container mid-margin-top">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">monday</th>
        <th scope="col">tuesday</th>
        <th scope="col">wednasday</th>
        <th scope="col">thursday</th>
        <th scope="col">friday</th>
        <th scope="col">saturday</th>
        <th scope="col">sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-01">1</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-02">2</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-03">3</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-04">4</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-05">5</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-06">6</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-07">7</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-08">8</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-09">9</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-10">10</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-11">11</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-12">12</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-13">13</button></td>
      </tr>
      <tr>
        <td scope="row">14</td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-15">15</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-16">16</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-17">17</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-18">18</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-19">19</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-20">20</button></td>
      </tr>
      <tr>
        <td scope="row">21</td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-22">22</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-23">23</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-24">24</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-25">25</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-26">26</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-27">27</button></td>
      </tr>
      <tr>
        <td scope="row">28</td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-29">29</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-30">30</button></td>
        <td><button type="button" class="btn btn-light" routerLink="/calendar/2019-11-31">31</button></td>
        <td colspan="3"></td>
      </tr>
    </tbody>
  </table>
  </tbody>
  </table>
</div>
</div>