<div class="container mid-margin-top">
  <div class="row justify-content-between">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Search</span>
      </div>
      <input [(ngModel)]="searchFName" class="form-control" placeholder="first name goes here" type="text"
        aria-label="First name">
      <input [(ngModel)]="searchLName" class="form-control" placeholder="last name goes here" type="text"
        aria-label="Last name" class="form-control">
    </div>
    <button class="btn btn-primary m-2" routerLink="/patient-add">Add Patient</button>
  </div>
  <div class="row">
    <div class="col-10">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Jmbg</th>
        <th>Appointment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items | filter : searchFName : searchLName, let i = index">
        <td>{{i + 1}}.</td>
        <td>{{item.firstname}}</td>
        <td>{{item.lastname}}</td>
        <td>{{item.jmbg}}</td>
        <button class="btn btn-success m-2" routerLink="/appointment-add/{{item.id}}">New Appointment</button>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="row">
    <div class="col-10">
        <form ngNativeValidate #ngForm="ngForm" (ngSubmit)="savePatient()">
            <div class="form-group">
              <label>First name</label>
              <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter first name"
                [(ngModel)]="item.firstname" required>
            </div>
            <div class="form-group">
              <label>Last name</label>
              <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter last name"
                [(ngModel)]="item.lastname" required>
            </div>
            <div class="form-group">
              <label>Jmbg</label>
              <input type="text" class="form-control" name="jmbg" id="jmbg" placeholder="Enter jmbg" [(ngModel)]="item.jmbg"
                required>
            </div>
            <button type="submit" class="btn btn-primary">Add Patient</button>
        </form>
      </div>
</div>