<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Go4Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/appointments">Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/calender">Calender</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/patient-all">Patients</a>
            </li>
        </ul>
        <ul class="navbar-nav" *ngIf="loggedUser">
            <li class="nav-item">
                <a class="nav-link">Welcome back, {{loggedUser}}</a>
            </li>
        </ul>
        <ul class="navbar-nav" *ngIf="token == null">
            <li class="nav-item">
                <a class="nav-link" routerLink="/sign-in">Login</a>
            </li>
        </ul>
        <ul class="navbar-nav" *ngIf="token != null">
            <li class="nav-item">
                <a class="nav-link" (click)="logout()" routerLink="/">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Ambulanta Tiac</h1>
        <h1>SiouxTeam</h1>
        <hr />
    </div>
</div>
<router-outlet></router-outlet>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Sioux Team
    </div>
  </footer>